<center>
    <h1>
        Exploratory Data Analysis - IT 462
    </h1>
    <br>
    <h2>
        Assignment - 1 : MCAR Test using missingpy package
    </h2>
</center>



<h2>
    GroupID : 17
</h2>

<h2>
    Name: Manish Manojkumar Prajapati
</h2>
<h2>
    Student-ID: 202411012
</h2>

<h3>
    1. Exploring the dataset
</h3>

In [8]:
# Importing required libraries

import pandas as pd
import numpy as np
from scipy import stats

In [9]:
# Importing required data

url = r'https://raw.githubusercontent.com/ManishPraa24/Exploratory-Data-Analysis/main/Missingpy/kamyr-digester.csv'

data = pd.read_csv(url)

data

,Observation,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,31-00:00,23.10,16.520,121.717,1177.607,169.805,358.282,329.545,1.443,599.253,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,NaN
1,31-01:00,27.60,16.810,79.022,1328.360,341.327,351.050,329.067,1.549,537.201,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.11
2,31-02:00,23.19,16.709,79.562,1329.407,239.161,350.022,329.260,1.600,549.611,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,NaN
3,31-03:00,23.60,16.478,81.011,1334.877,213.527,350.938,331.142,1.604,623.362,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.02
4,31-04:00,22.90,15.618,93.244,1334.168,243.131,351.640,332.709,NaN,638.672,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,12-08:00,20.40,14.233,89.790,1278.006,379.458,354.290,315.558,1.515,491.374,...,60.424,331.980,308.078,140.301,975.016,1344.835,388.676,47.803,252.311,NaN
297,12-09:00,20.90,15.167,84.640,1283.706,339.440,354.803,311.041,1.635,532.419,...,65.561,332.924,307.626,145.299,832.906,1344.708,388.911,49.524,251.833,30.29
298,12-10:00,24.98,NaN,85.034,1278.345,368.564,357.723,321.387,NaN,520.365,...,65.729,332.523,307.169,151.544,905.639,1344.469,418.979,48.135,251.614,30.47
299,12-11:00,21.00,NaN,88.013,1307.722,278.842,357.438,323.757,NaN,553.070,...,65.795,331.263,306.400,157.954,908.691,1344.588,462.712,54.373,251.197,NaN
300,12-12:00,21.40,NaN,85.490,1255.986,273.484,361.365,322.689,NaN,590.199,...,71.456,333.032,308.732,174.069,986.206,1348.747,457.313,53.194,251.324,30.46

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observation      301 non-null    object
 1   Y-Kappa          301 non-null    float64
 2   ChipRate         297 non-null    float64
 3   BF-CMratio       287 non-null    float64
 4   BlowFlow         288 non-null    float64
 5   ChipLevel4       300 non-null    float64
 6   T-upperExt-2     300 non-null    float64
 7   T-lowerExt-2     300 non-null    float64
 8   UCZAA            277 non-null    float64
 9   WhiteFlow-4      300 non-null    float64
 10  AAWhiteSt-4      160 non-null    float64
 11  AA-Wood-4        300 non-null    float64
 12  ChipMoisture-4   300 non-null    float64
 13  SteamFlow-4      300 non-null    float64
 14  Lower-HeatT-3    300 non-null    float64
 15  Upper-HeatT-3    300 non-null    float64
 16  ChipMass-4       300 non-null    float64
 17  WeakLiquorF      300 non-null    float64
 18  BlackFlow-2      300 non-null    float64
 19  WeakWashF        300 non-null    float64
 20  SteamHeatF-3     300 non-null    float64
 21  T-Top-Chips-4    300 non-null    float64
 22  SulphidityL-4    160 non-null    float64
dtypes: float64(22), object(1)
memory usage: 54.2+ KB

In [13]:
data.describe

<bound method NDFrame.describe of     Observation  Y-Kappa  ChipRate  BF-CMratio  BlowFlow  ChipLevel4   \
0      31-00:00    23.10    16.520     121.717  1177.607      169.805
1      31-01:00    27.60    16.810      79.022  1328.360      341.327
2      31-02:00    23.19    16.709      79.562  1329.407      239.161
3      31-03:00    23.60    16.478      81.011  1334.877      213.527
4      31-04:00    22.90    15.618      93.244  1334.168      243.131
..          ...      ...       ...         ...       ...          ...
296    12-08:00    20.40    14.233      89.790  1278.006      379.458
297    12-09:00    20.90    15.167      84.640  1283.706      339.440
298    12-10:00    24.98       NaN      85.034  1278.345      368.564
299    12-11:00    21.00       NaN      88.013  1307.722      278.842
300    12-12:00    21.40       NaN      85.490  1255.986      273.484

     T-upperExt-2   T-lowerExt-2    UCZAA  WhiteFlow-4   ...  SteamFlow-4   \
0          358.282         329.545  1.443       599.253  ...        67.122
1          351.050         329.067  1.549       537.201  ...        60.012
2          350.022         329.260  1.600       549.611  ...        61.304
3          350.938         331.142  1.604       623.362  ...        68.496
4          351.640         332.709    NaN       638.672  ...        70.022
..             ...             ...    ...           ...  ...           ...
296        354.290         315.558  1.515       491.374  ...        60.424
297        354.803         311.041  1.635       532.419  ...        65.561
298        357.723         321.387    NaN       520.365  ...        65.729
299        357.438         323.757    NaN       553.070  ...        65.795
300        361.365         322.689    NaN       590.199  ...        71.456

     Lower-HeatT-3  Upper-HeatT-3   ChipMass-4   WeakLiquorF   BlackFlow-2   \
0          329.432         303.099      175.964      1127.197      1319.039
1          330.823         304.879      163.202       665.975      1297.317
2          329.140         303.383      164.013       677.534      1327.072
3          328.875         302.254      181.487       767.853      1324.461
4          328.352         300.954      183.929       888.448      1343.424
..             ...             ...          ...           ...           ...
296        331.980         308.078      140.301       975.016      1344.835
297        332.924         307.626      145.299       832.906      1344.708
298        332.523         307.169      151.544       905.639      1344.469
299        331.263         306.400      157.954       908.691      1344.588
300        333.032         308.732      174.069       986.206      1348.747

     WeakWashF   SteamHeatF-3   T-Top-Chips-4   SulphidityL-4
0       257.325         54.612         252.077             NaN
1       241.182         46.603         251.406           29.11
2       237.272         51.795         251.335             NaN
3       239.478         54.846         250.312           29.02
4       215.372         54.186         249.916           29.01
..          ...            ...             ...             ...
296     388.676         47.803         252.311             NaN
297     388.911         49.524         251.833           30.29
298     418.979         48.135         251.614           30.47
299     462.712         54.373         251.197             NaN
300     457.313         53.194         251.324           30.46

[301 rows x 23 columns]>

In [14]:
# Finding the total missing values

data.isnull().sum()

Observation          0
Y-Kappa              0
ChipRate             4
BF-CMratio          14
BlowFlow            13
ChipLevel4           1
T-upperExt-2         1
T-lowerExt-2         1
UCZAA               24
WhiteFlow-4          1
AAWhiteSt-4        141
AA-Wood-4            1
ChipMoisture-4       1
SteamFlow-4          1
Lower-HeatT-3        1
Upper-HeatT-3        1
ChipMass-4           1
WeakLiquorF          1
BlackFlow-2          1
WeakWashF            1
SteamHeatF-3         1
T-Top-Chips-4        1
SulphidityL-4      141
dtype: int64

<br>
<h3>
    2. Extracting numeric valued features
</h3>
<br>

In [15]:
numeric_data = data.select_dtypes(include=[np.number])
numeric_data

,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,AAWhiteSt-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,23.10,16.520,121.717,1177.607,169.805,358.282,329.545,1.443,599.253,NaN,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,NaN
1,27.60,16.810,79.022,1328.360,341.327,351.050,329.067,1.549,537.201,6.076,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.11
2,23.19,16.709,79.562,1329.407,239.161,350.022,329.260,1.600,549.611,NaN,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,NaN
3,23.60,16.478,81.011,1334.877,213.527,350.938,331.142,1.604,623.362,6.054,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.02
4,22.90,15.618,93.244,1334.168,243.131,351.640,332.709,NaN,638.672,6.110,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,20.40,14.233,89.790,1278.006,379.458,354.290,315.558,1.515,491.374,NaN,...,60.424,331.980,308.078,140.301,975.016,1344.835,388.676,47.803,252.311,NaN
297,20.90,15.167,84.640,1283.706,339.440,354.803,311.041,1.635,532.419,6.340,...,65.561,332.924,307.626,145.299,832.906,1344.708,388.911,49.524,251.833,30.29
298,24.98,NaN,85.034,1278.345,368.564,357.723,321.387,NaN,520.365,6.220,...,65.729,332.523,307.169,151.544,905.639,1344.469,418.979,48.135,251.614,30.47
299,21.00,NaN,88.013,1307.722,278.842,357.438,323.757,NaN,553.070,NaN,...,65.795,331.263,306.400,157.954,908.691,1344.588,462.712,54.373,251.197,NaN
300,21.40,NaN,85.490,1255.986,273.484,361.365,322.689,NaN,590.199,6.230,...,71.456,333.032,308.732,174.069,986.206,1348.747,457.313,53.194,251.324,30.46

<br>
<h3>
    3. MCAR Test
</h3>
<br>

In [17]:
# Drop columns with more than 50% missing values
missing_rate = numeric_data.isnull().mean()
print(missing_rate)
df_filtered = numeric_data.loc[:, missing_rate < 0.5]
df_filtered

Y-Kappa            0.000000
ChipRate           0.013289
BF-CMratio         0.046512
BlowFlow           0.043189
ChipLevel4         0.003322
T-upperExt-2       0.003322
T-lowerExt-2       0.003322
UCZAA              0.079734
WhiteFlow-4        0.003322
AAWhiteSt-4        0.468439
AA-Wood-4          0.003322
ChipMoisture-4     0.003322
SteamFlow-4        0.003322
Lower-HeatT-3      0.003322
Upper-HeatT-3      0.003322
ChipMass-4         0.003322
WeakLiquorF        0.003322
BlackFlow-2        0.003322
WeakWashF          0.003322
SteamHeatF-3       0.003322
T-Top-Chips-4      0.003322
SulphidityL-4      0.468439
dtype: float64

,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,AAWhiteSt-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,23.10,16.520,121.717,1177.607,169.805,358.282,329.545,1.443,599.253,NaN,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,NaN
1,27.60,16.810,79.022,1328.360,341.327,351.050,329.067,1.549,537.201,6.076,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.11
2,23.19,16.709,79.562,1329.407,239.161,350.022,329.260,1.600,549.611,NaN,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,NaN
3,23.60,16.478,81.011,1334.877,213.527,350.938,331.142,1.604,623.362,6.054,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.02
4,22.90,15.618,93.244,1334.168,243.131,351.640,332.709,NaN,638.672,6.110,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,20.40,14.233,89.790,1278.006,379.458,354.290,315.558,1.515,491.374,NaN,...,60.424,331.980,308.078,140.301,975.016,1344.835,388.676,47.803,252.311,NaN
297,20.90,15.167,84.640,1283.706,339.440,354.803,311.041,1.635,532.419,6.340,...,65.561,332.924,307.626,145.299,832.906,1344.708,388.911,49.524,251.833,30.29
298,24.98,NaN,85.034,1278.345,368.564,357.723,321.387,NaN,520.365,6.220,...,65.729,332.523,307.169,151.544,905.639,1344.469,418.979,48.135,251.614,30.47
299,21.00,NaN,88.013,1307.722,278.842,357.438,323.757,NaN,553.070,NaN,...,65.795,331.263,306.400,157.954,908.691,1344.588,462.712,54.373,251.197,NaN
300,21.40,NaN,85.490,1255.986,273.484,361.365,322.689,NaN,590.199,6.230,...,71.456,333.032,308.732,174.069,986.206,1348.747,457.313,53.194,251.324,30.46

In [32]:
# Check if there's any numeric data to process
if df_filtered.empty:
    raise ValueError("No numeric columns with less than 50% missing data found in the dataset. Little's MCAR test cannot be performed.")

In [44]:
# Creating a function for performing little MCAR test

def little_mcar_test(data):

    # Convert dataframe to numpy array
    data = data.to_numpy()

    # Count missing values
    missing_values = np.isnan(data)

    # If no missing values, return early
    if not np.any(missing_values):
        print("No missing values found. Data is MCAR by definition.")
        return

    # Calculate missing data pattern
    missing_patterns = np.sum(missing_values, axis=1)

    # Calculate statistics for missing data pattern
    unique_patterns, counts = np.unique(missing_patterns, return_counts=True)
    pattern_probabilities = counts / len(missing_patterns)

    # Perform chi-square test to check the pattern distribution
    chi2_stat, p_value = stats.chisquare(pattern_probabilities)

    return chi2_stat, p_value

In [40]:
# Creating a function to interpret the results of MCAR test

def interpretResult(chi_square, p_value):
    print("MCAR Test Results are as follows: \n")
    print(f"Chi-squared statisitcs: {chi_square}")
    print(f"p_value: {p_value}")
    if p_value > 0.05:
        print("The null hypothesis cannot be rejected. The data is MCAR.")
    else:
        print("The null hypothesis is rejected. The data is not MCAR.")

In [45]:
chi_squared, p_value = little_mcar_test(df_filtered)

print(f"Chi-square statistic: {chi_squared:.4f}")
print(f"P-value: {p_value:.4f}")

Chi-square statistic: 2.6634
P-value: 0.9537

In [46]:
# Interpreting the chi_square and p_value


interpretResult(chi_squared, p_value)

MCAR Test Results are as follows:

Chi-squared statisitcs: 2.6634363859118557
p_value: 0.9536737234390738
The null hypothesis cannot be rejected. The data is MCAR.

<br>
<h3>
    4. Imputation using MissingForest
</h3>

<h3>
    Missingpy contains the technique of MissingForest for imputation. 'Missingpy' was not supported, hence using 'IterativeImputer' from scikit-learn package.
</h3>
<br>

In [49]:
# Importing required libraries

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [50]:
# Initializing imputer

imputer = IterativeImputer(max_iter=10, random_state=0)

In [51]:
# Performing Iterative Imputation

data_imputed = imputer.fit_transform(numeric_data)

In [ ]:
# Converting back to dataframe

data_imputed = pd.DataFrame(data_imputed, columns=data_imputed.columns)

data_imputed